html{
    background-color: rgb(29, 28, 28);
    color:#fefefe;
    font-style: Cascadia Code SemiBold;
}
.details{
    font-size: x-large;
}
.container{
    display: flex;
    flex-direction: row;
}
text{
    margin-left: 10px;
}
.coding_text{
    font-size: x-large;
}
.learning_text{
    font-size: x-large;
}
.hobbies_text{
    font-size: x-large;
}
.centered-text {
    text-align: center;
}
a{
    color: aliceblue;
}
a:visited{
    color: lightgray;
}
a:hover , a:active{
    color: #eee;
}
img{
    display: block;
    margin-left: 0cqi;
    margin-right: 30px;
    width: 10%;
    border-radius: 2ch;
}
.list_links{
    font-size: large;
}
